


@using _21Education.COMMON
@using _21Education.MODEL

@{
    ViewBag.Title = "创建";
    
    Layout = "~/Areas/Admin/Views/AdminHome/_Index_LayoutEdit.cshtml";

}<h2>create</h2>


<script type="text/javascript">
    $(function () {
        $("#btnSave").click(function () {

                $.ajax({
                    url: "/Admin/AdminHome/Create",
                    type: "Post",
                    data: $("#CreateForm").serialize(),
                    dataType: "json",
                    success: function (data) {
                        if (data == 1) {
                            window.parent.frameReturnByMes("成功");
                            window.parent.frameReturnByReload(true);
                            window.parent.frameReturnByClose()
                        }
                        else {
                            window.parent.frameReturnByMes("失败");
                        }
                    }
                });
        });
    });
</script>


<div class="mvctool bgb">
    <a id="btnSave" style="float: left;" class="l-btn l-btn-plain"><span class="l-btn-left"><span class="l-btn-text icon-save" style="padding-left: 20px;">保存</span></span></a>
</div>
@using (Html.BeginForm("Create", "SysSample", null, FormMethod.Post, new { Id = "CreateForm" }))
{
    @Html.ValidationSummary(true)
    <table class="fromEditTable setTextWidth300">
        <tbody>
            <tr>
                <td style="width:100px; text-align:right;">
                   文本框
                </td>
                <td style="width:310px">
                   @Html.TextBox("name")
                </td>
                <td>*不能超过10个长度</td>
            </tr>
            <tr>
                <td style="width:100px; text-align:right;">
                    文本框
                </td>
                <td style="width:310px">
                    @Html.TextBox("name")
                </td>
                <td>*不能超过10个长度</td>
            </tr>
            <tr>
                <td style="width:100px; text-align:right;">
                    文本框
                </td>
                <td style="width:310px">
                    @Html.TextBox("name")
                </td>
                <td>*不能超过10个长度</td>
            </tr>
            <tr>
                <td style="width:100px; text-align:right;">
                    文本框
                </td>
                <td style="width:310px">
                    @Html.TextBox("name")
                </td>
                <td>*不能超过10个长度</td>
            </tr>
        </tbody>
    </table>
}