@model _21Education.MODEL.FriendlyLink
@{
    ViewBag.Title = "修改链接信息";
    Layout = "~/Areas/Admin/Views/Shared/_Index_LayoutEdit.cshtml";
}
<script type="text/javascript">
    $(function () {
        $("#btnSave").click(function () {

                $.ajax({
                    url: "@Url.Action("Edit")",
                    type: "Post",
                    data: $("#CreateForm").serialize(),
                    dataType: "json",
                    success: function (data) {
                        if (data == 1) {
                            window.parent.frameReturnByMes("成功");
                            window.parent.frameReturnByReload(true);
                            window.parent.frameReturnByClose()
                        }
                        else {
                            window.parent.frameReturnByMes("失败");
                        }
                    }
                });
        });
    });
</script>


<div class="mvctool bgb">
    <a id="btnSave" style="float: left;" class="l-btn l-btn-plain"><span class="l-btn-left"><span class="l-btn-text icon-save" style="padding-left: 20px;">保存</span></span></a>
</div>
@using (Html.BeginForm("Create", "Areas_News", null, FormMethod.Post, new { Id = "CreateForm" }))
{
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.Id)
    <table class="fromEditTable setTextWidth300">
        <tbody>
            <tr>
                <td style="text-align:center;">
                    @Html.LabelFor(model => model.FriendlyTitle)：
                </td>
                <td>
                    @Html.EditorFor(model => model.FriendlyTitle)
                </td>
            </tr>
            <tr>
                <td style="text-align:center;">
                    @Html.LabelFor(model => model.FriendlyUrl)：
                </td>
                <td>
                    @Html.EditorFor(model => model.FriendlyUrl)
                </td>
            </tr>
        </tbody>
    </table>
}

