@model Pagination

<style>
    #pagetable {
        width: 1000px;
        margin: auto;
        text-align: center;
        display: inline-block;
    }

    .pagination li {
        list-style: none;
        float: left;
    }

    .pagination > li {
        display: inline;
        margin: 0 6px;
    }

    .pagination li a {
        text-decoration: none;
        width: 28px;
        height: 28px;
        line-height: 28px;
        padding: 0;
        border: none;
        font-size: 18px;
        background-color: #ebebeb;
        color: #666;
        text-align: center;
        cursor: pointer;
        display: inline-block;
        
    }
    .pagination li span {
        font-size: 20px;
        color: #666;
        line-height: 28px;
    } 
    .pagination li a:hover, .pagination li.active a {
        color: #fff;
        background-color: #0057be;
    }

    .pagination li.disabled a {
        color: #999;
        background-color: #ebebeb;
        cursor: not-allowed;
    }

    #jumpPage {
        width: 35px;
        height: 26px;
        margin: 0 4px 0 10px;
        padding: 0 4px;
        border: 1px solid #ebebeb;
        font-size: 12px;
        outline: none;
    }

    #jump {
        width: auto;
        height: 28px;
        line-height: 28px;
        text-align: center;
        border: none;
        color: #666;
        outline: none;
        font-size: 18px;
    }
</style>

<table id="pagetable">
    <tr>
        <td>
            @if (Model.PageCount > 0)
            {
                <ul class="pagination">
                    @if (Model.PageIndex >= 1)
                    {
                        <li><a href="@Url.PageLink(Model.PageIndex - 1)"><</a></li>
                    }
                    else
                    {
                        <li class="disabled"><a href="javascript:void(0)"><</a></li>
                    }
                    @{
                        int start = Model.PageIndex - 2;
                        int end = Model.PageIndex + 2;
                        if (start < 0)
                        {
                            start = 0;
                        }
                        if (Model.PageIndex < 3)
                        {
                            start = 0;
                            if (Model.PageCount > 5)
                            {
                                end = 4;
                            }
                        }
                        if (Model.PageCount - Model.PageIndex < 3 && Model.PageCount > 5)
                        {
                            end = Model.PageCount;
                            start = Model.PageCount - 5;
                        }
                        for (; start < Model.PageCount && start <= end; start++)
                        {
                            <li class="@(start == Model.PageIndex ? "active" : "")">
                                <a href="@Url.PageLink(start)">@(start + 1)</a>
                            </li>
                        }
                    }
                    @if (Model.PageIndex < Model.PageCount - 1)
                    {
                        <li class="next">
                            <a href="@Url.PageLink(Model.PageIndex + 1)">></a>
                        </li>
                    }
                    else
                    {
                        <li class="disabled">
                            <a href="javascript:void(0)">></a>
                        </li>
                    }
                    <li class="hidden-m">
                        <input  type="text" id="jumpPage" />
                    </li>
                    <li class="count" style="margin-left:0"><span>/@(Model.PageCount)</span></li>
                    <li class="hidden-m">
                        <button id="jump">跳到</button>
                    </li>
                </ul>
                <script>
        var pageCount =@Model.PageCount;
        var pagePath = "@Url.PageLink(0)";
                    pagePath = pagePath.substring(0, pagePath.length - 1);
                    function isInteger(obj) {
                        return obj % 1 === 0;
                    }
                    $("#jump").click(function () {
                        GoToPage();
                    });
                    $("#jumpPage").keypress(function (event) {
                        if (event.keyCode == 13) {
                            GoToPage();
                            return false;
                        }
                    });
                    function GoToPage() {
                        var $pageNum = $("#jumpPage").val();
                        if (!isInteger($pageNum) || !$pageNum) {
                            alert("请输入合法的页码");
                            $("#jumpPage").focus();
                            return false;
                        }
                        if ($pageNum > pageCount) {
                            $pageNum = pageCount;
                        }
                        if ($pageNum <= 0) {
                            $pageNum = 1;
                        }
                        if (location.search) {
                            location.href = pagePath + $pageNum + location.search;
                            return;
                        }
                        location.href = pagePath + $pageNum;
                    }                </script>

            }
        </td>
    </tr>
</table>
