@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Index_LayoutEdit.cshtml";
}
@model _21Education.MODEL.ContactCompanyinfo
@using _21Education.COMMON
<script type="text/javascript">
    $(function () {
        $("#btnSave").click(function () {

                $.ajax({
                    url: "/Admin/Areas_Contact/Details",
                    type: "Post",
                    data: $("#CreateForm").serialize(),
                    dataType: "json",
                    success: function (data) {
                        if (data == 1) {
                            window.parent.frameReturnByMes("成功");
                            window.parent.frameReturnByReload(true);
                            window.parent.frameReturnByClose()
                        }
                        else {
                            window.parent.frameReturnByMes("失败");
                        }
                    }
                });
        });
    });
</script>


<div class="mvctool bgb">
    <a id="btnSave" style="float: left;" class="l-btn l-btn-plain"><span class="l-btn-left"><span class="l-btn-text icon-save" style="padding-left: 20px;">保存</span></span></a>
</div>
@using (Html.BeginForm("Details", "Areas_Contact", null, FormMethod.Post, new { Id = "ContactCompanyinfoId" }))
{
    @Html.ValidationSummary(true)
    <table class="fromEditTable setTextWidth300">
        <tbody>
            <tr>
                <td style="width:100px; text-align:right;">
                    @Html.LabelFor(model => model.ContactCompanyinfoId)：
                </td>
                <td style="width:310px">
                    @Html.EditorFor(model => model.ContactCompanyinfoId)
                </td>
                <td>@Html.ValidationMessageFor(model => model.ContactCompanyinfoId)</td>
            </tr>
            <tr>
                <td style="width:100px; text-align:right;">
                    @*@Html.LabelFor(model => model.Address)：*@
                    具体地址：
                </td>
                <td>
                    @Html.EditorFor(model => model.Address)
                </td>
                <td>
                    @Html.ValidationMessageFor(model => model.Address)
                </td>
            </tr>
            <tr>
                <td style="width:100px; text-align:right;">
                    @Html.LabelFor(model => model.Email)：
                </td>

                <td>
                    @Html.EditorFor(model => model.Email)
                </td>
                <td>
                    @Html.ValidationMessageFor(model => model.Email)
                </td>
            </tr>
            <tr>
                <td style="width:100px; text-align:right;">
                    @Html.LabelFor(model => model.Phone)：
                </td>

                <td>
                    @Html.TextBoxFor(model => model.Phone)
                </td>
                <td>
                    @Html.ValidationMessageFor(model => model.Phone)
                </td>
            </tr>

            <tr>
                <td style="width:100px; text-align:right;">
                    @Html.LabelFor(model => model.Transmission)：
                </td>

                <td>
                    @Html.EditorFor(model => model.Transmission)
                </td>
                <td>
                    @Html.ValidationMessageFor(model => model.Transmission)
                </td>
            </tr>
            <tr>
                <td style="width:100px; text-align:right;">
                    @Html.LabelFor(model => model.Website)：

                </td>

                <td>
                    @Html.TextBoxFor(model => model.Website)

                </td>
                <td>
                    @Html.ValidationMessageFor(model => model.Website)
                </td>
            </tr>
        </tbody>
    </table>
}
