@model _21Education.MODEL.UserInfo
@{
    ViewBag.Title = "修改密码";
    Layout = "~/Areas/Admin/Views/Shared/_Index_LayoutEdit.cshtml";
}
<script type="text/javascript">
    $(function () {
        $("#btnSave").click(function () {
            $.ajax({
                url: "@Url.Action("Edit")",
                type: "Post",
                data: $("#CreateForm").serialize(),
                dataType: "json",
                success: function (data) {
                    if (data == 1) {
                        window.parent.frameReturnByMes("成功");
                        window.parent.frameReturnByReload(true);
                        window.parent.frameReturnByClose()
                    }
                    else {
                        window.parent.frameReturnByMes("失败");
                    }
                }
            });
        });
    });
</script>
<script src="~/Areas/Content/showdate.js"></script> @*日期控件*@
<div class="mvctool bgb">
    <a id="btnSave" style="float: left;" class="l-btn l-btn-plain"><span class="l-btn-left"><span class="l-btn-text icon-save" style="padding-left: 20px;">保存</span></span></a>
</div>
@using (Html.BeginForm("Create", "Areas_News", null, FormMethod.Post, new { Id = "CreateForm" }))
{
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.Id)
    <table class="fromEditTable setTextWidth300">
        <tbody>
            <tr>
                <td style="width:100px; text-align:right;">
                    @Html.LabelFor(model => model.UserName)：
                </td>
                <td>
                    @Html.EditorFor(model => model.UserName)
                </td>
            </tr>
            <tr>
                <td style="width:100px; text-align:right;">
                    @Html.LabelFor(model => model.UserPwd)：
                </td>
                <td>
                    @Html.PasswordFor(model => model.UserPwd)
                </td>
            </tr>
            <tr>
                <td style="width:100px; text-align:right;">
                    @Html.LabelFor(model => model.ConfirmPwd)：
                </td>
                <td>
                    @Html.PasswordFor(model => model.ConfirmPwd)
                </td>
            </tr>
            <tr>
                <td style="width:100px; text-align:right;">
                    @Html.LabelFor(model => model.RegistDate)：
                </td>
                <td>
                    @Html.EditorFor(model => model.RegistDate)
                    <input style="width:100px;height:22px;" value="点击选择日期" type="text" id="RegistDate" name="RegistDate" onClick="return Calendar('RegistDate');" />
                </td>
            </tr>
            <tr>
                <td style="width:100px; text-align:left;" colspan="2">
                    <p id="mes" style="color:red;"></p>
                </td>
            </tr>
        </tbody>
    </table>
}

<script>
        $("#btnSave").click(function () {

            var mes;
            var password = $("#UserPwd").val();
            var confirmpassword = $("#ConfirmPwd").val();
            if (password == "" || confirmpassword=="")
            {
                $("#mes").html("密码和确认密码不能为空！");
                return false;
            }
            if (password != confirmpassword) {
                alert("两次密码输入不一致！");
                return false;
            }
            if (password.length < 8 || password.length > 10) {
                $("#mes").html("密码长度为8-10位！");
                return false;
            }
           

        })



</script>


