@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Index_LayoutEdit.cshtml";
}
@model _21Education.MODEL.News
@using _21Education.COMMON


<script type="text/javascript">
    $(function () {
        $("#btnSave").click(function () {

                $.ajax({
                    url: "/Admin/Areas_News/Create",
                    type: "Post",
                    data: $("#CreateForm").serialize(),
                    dataType: "json",
                    success: function (data) {
                        if (data == 1) {
                            window.parent.frameReturnByMes("成功");
                            window.parent.frameReturnByReload(true);
                            window.parent.frameReturnByClose()
                        }
                        else {
                            window.parent.frameReturnByMes("失败");
                        }
                    }
                });
        });
    });
</script>


<div class="mvctool bgb">
    <a id="btnSave" style="float: left;" class="l-btn l-btn-plain"><span class="l-btn-left"><span class="l-btn-text icon-save" style="padding-left: 20px;">保存</span></span></a>
</div>
@using (Html.BeginForm("Create", "Areas_News", null, FormMethod.Post, new { Id = "CreateForm" }))
{
    @Html.ValidationSummary(true)
    <table class="fromEditTable setTextWidth300">
        <tbody>
            <tr>
                <td style="width:100px; text-align:right;">
                    @Html.LabelFor(model => model.NewsId)：
                </td>
                <td style="width:310px">
                    @Html.EditorFor(model => model.NewsId)
                </td>
                <td>@Html.ValidationMessageFor(model => model.NewsId)</td>
            </tr>
            <tr>
                <td style="width:100px; text-align:right;">
                    @*@Html.LabelFor(model => model.Address)：*@
                    具体地址：
                </td>
                <td>
                    @Html.EditorFor(model => model.Title)
                </td>
                <td>
                    @Html.ValidationMessageFor(model => model.Title)
                </td>
            </tr>
            <tr>
                <td style="width:100px; text-align:right;">
                    @Html.LabelFor(model => model.Content)：
                </td>

                <td>
                    @Html.EditorFor(model => model.Content)
                </td>
                <td>
                    @Html.ValidationMessageFor(model => model.Content)
                </td>
            </tr>
            <tr>
                <td style="width:100px; text-align:right;">
                    @Html.LabelFor(model => model.PubDate)：
                </td>

                <td>
                    @Html.TextBoxFor(model => model.PubDate)
                </td>
                <td>
                    @Html.ValidationMessageFor(model => model.PubDate)
                </td>
            </tr>

            <tr>
                <td style="width:100px; text-align:right;">
                    @Html.LabelFor(model => model.ReadCount)：
                </td>

                <td>
                    @Html.EditorFor(model => model.ReadCount)
                </td>
                <td>
                    @Html.ValidationMessageFor(model => model.ReadCount)
                </td>
            </tr>
            <tr>
                <td style="width:100px; text-align:right;">
                    @Html.LabelFor(model => model.PubPerson)：

                </td>

                <td>
                    @Html.TextBoxFor(model => model.PubPerson)

                </td>
                <td>
                    @Html.ValidationMessageFor(model => model.PubPerson)
                </td>
            </tr>
        </tbody>
    </table>
}
