@model _21Education.MODEL.IndexAdvantage
@{
    ViewBag.Title = "创建品牌优势";
    Layout = "~/Areas/Admin/Views/Shared/_Index_LayoutEdit.cshtml";
}
<script src="~/Content/js/jquery-1.10.2.min.js"></script>
<script type="text/javascript">
    $(function () {
        $("#btnSave").click(function () {

                $.ajax({
                    url: "@Url.Action("Create")",
                    type: "Post",
                    data: $("#CreateForm").serialize(),
                    dataType: "json",
                    success: function (data) {
                        if (data == 1) {
                            window.parent.frameReturnByMes("成功");
                            window.parent.frameReturnByReload(true);
                            window.parent.frameReturnByClose()
                        }
                        else {
                            window.parent.frameReturnByMes("失败");
                        }
                    }
                });
        });
    });
</script>
<div class="mvctool bgb">
    <a id="btnSave" style="float: left;" class="l-btn l-btn-plain"><span class="l-btn-left"><span class="l-btn-text icon-save" style="padding-left: 20px;">保存</span></span></a>
</div>
@using (Html.BeginForm("Create", "Areas_News", null, FormMethod.Post, new { Id = "CreateForm" }))
{
    @Html.ValidationSummary(true)
    <table class="fromEditTable setTextWidth300">
        <tbody>
            <tr>
                <td style="text-align:center;">
                    @Html.LabelFor(model => model.Title)：
                </td>
                <td>
                    @Html.EditorFor(model => model.Title)
                </td>
            </tr>

            <tr>
                <td style="text-align:center;">
                    @Html.LabelFor(model => model.desc)：
                </td>
                <td>
                    @Html.TextAreaFor(model => model.desc)
                </td>
            </tr>
            <tr>
                <td style="text-align:center;">
                    @Html.LabelFor(model => model.PubTime)：
                </td>
                <td>
                    @Html.EditorFor(model => model.PubTime)
                </td>
            </tr>
            <tr>
                <td style="text-align:center;">
                    @Html.LabelFor(model => model.ImageOne)：
                </td>
                <td>
                    @Html.EditorFor(model => model.ImageOne)
                </td>
            </tr>
            <tr>
                <td style="text-align:center;">
                    @Html.LabelFor(model => model.ImageTwo)：
                </td>
                <td>
                    @Html.EditorFor(model => model.ImageTwo)
                </td>
            </tr>
        </tbody>
    </table>
}
