@{
    ViewBag.Title = "ProductService";
    Layout = "~/Views/Shared/View1.cshtml";
}
@model ProductsListViewModel
<script src="~/Content/js/js.js"></script>
<link href="~/CSS/css.css" rel="stylesheet" />
<link href="~/CSS/font-awesome.min.css" rel="stylesheet" />

<style>
    #productinfo {
        width: 1000px;
        height: 340px;
        margin: auto;
        margin-top: 30px;
        background-color: #f7f7f7;
    }
    /*产品服务*/
    #productshow {
        width: 1000px;
        margin: auto;
    }

    #productname b {
        color: #0b6ae0;
        font-size: 20px;
        line-height: 50px;
    }

        #productname b:hover {
            color: white;
        }


    #productname a {
        text-decoration: none;
        padding: 5px;
        line-height: 30px;
        color: #666666;
        display: block;
    }

    #productname td:hover {
        background-color: #0057be;
    }

    #productname a:hover {
        color: white;
    }
    /*品牌优势*/
    #productadvantage {
        width: 1000px;
        height: 320px;
        margin: auto;
        margin-top: 30px;
    }
</style>

@*产品展示*@
<table id="productshow">
    <tr style="text-align:center;height:70px;">
        <td colspan="2">
            <h3 style="color:#0057be;">______ 产品展示 ______</h3>
            <span style="font-size:14px;">PRODUCT SHOW</span>
        </td>
    </tr>
    <tr style="height:20px;">
        <td colspan="4"></td>
    </tr>
    <tr>
        <td style="width:220px;background-color:#f7f7f7;border:#dfdfdf 1px solid;box-shadow:0px 0px 5px 4px rgba(232,232,232,.3);text-align:center;" valign="top">
            <table style="text-align:center;width:100%;height:537px;border-collapse:collapse;" id="productname">
                <tr>
                    <td><b style="display:block;">特色案例</b></td>
                </tr>
                @foreach (var Titleitem in ViewBag.productTitleShow)
                {
                    <tr>
                        <td><a href="/Product/ProductContent/@Titleitem.Id">@Titleitem.Title</a></td>
                    </tr>
                }
            </table>
        </td>
        <td  valign="top">
            <div style="width:760px;">
                @Html.Partial("~/Views/PartView/ProductListPage.cshtml")
                @{Html.Pagin(Model.Pagination);}
            </div>
        </td>
    </tr>
</table>


@*品牌优势*@
<table id="productadvantage">
    <tr style="text-align:center;">
        <td>
            <h3 style="color:#0057be;">______ 品牌优势 ______</h3>
            <span style="font-size:14px;">PRODUCT ADVANTAGE</span>
        </td>
    </tr>
    <tr style="text-align:center;">
        <td style="height:30px;"></td>
    </tr>
    <tr>
        <td>
            <div class="mian">
                <div class="adframe">

                    @foreach (var Advantageitem in ViewBag.advantageListShow)
                    {
                        <div class="adleft">
                            <div class="ico">
                                <img style="width:50px;height:50px;margin-top: 10px;" src="@Advantageitem.ImageTwo" />
                            </div>
                            <span class="title" style="font-size:10px;">
                                @Advantageitem.Title
                            </span>
                            <span class="depict">
                                @Advantageitem.desc
                            </span>
                            <div class="right" id="r">
                                <div class="rbt">
                                    <span>@Advantageitem.Title</span>
                                </div>
                            </div>
                        </div>
                    }
                    <div class="adright"></div>
                </div>
            </div>
        </td>
    </tr>
</table>
<script>
    FeiChao.Organ();
</script>



