@{
    ViewBag.Title = "ContactUs";
    Layout = "~/Views/Shared/View1.cshtml";
}
<link href="~/CSS/ContactUsStyle.css" rel="stylesheet" />
<script>
    (function () {
        window.BMap_loadScriptTime = (new Date).getTime();
        var $script = $("<script>");
        $script.attr("type", "text/javascript");
        $script.attr("src", "http://api.map.baidu.com/getscript?v=1.1&ak=&services=true&t=20130716024058");
        $script.attr("charset", "UTF-8");
        document.write($script[0].outerHTML);
        document.write('<link rel="stylesheet" type="text/css" href="http://api.map.baidu.com/res/11/bmap.css" />');
    })();
</script>
<table class="table" id="contactable" border="0" style="margin-top:0px;">
    <tr style="text-align:center;height:80px;">
        <td>
            <h3>______ 联系我们 ______</h3>
            <span>CONTACT US</span>
        </td>
    </tr>
    <tr style="text-align:center;height:30px;">
        <td colspan="2"></td>
    </tr>
    <tr style="">
        <td>
            <div id="companyinfo" style="">
                <div style="float:left;padding:10px;font-size:14px;margin:20px;">
                        <p>@ViewBag.companyinfoListShow.Address</p>
                        <p>邮编：@ViewBag.companyinfoListShow.Email</p>
                        <p>电话：@ViewBag.companyinfoListShow.Phone</p>
                        <p>传真：@ViewBag.companyinfoListShow.Transmission</p>
                        <p>网址：@ViewBag.companyinfoListShow.Website</p>
                </div>
                <div id="companyinfo" style="color:white;">
                    <!--百度地图容器-->
                    <div style="width:510px;height:281px;float:right;border:#ccc solid 1px;" id="dituContent"></div>
                    <script src="~/Content/js/Map.js" charset="utf-8"></script>
                </div>
            </div>
        </td>
    </tr>
</table>
<table class="table" id="cooperation" border="0">
    <tr>
        @foreach (var cooperateitem in ViewBag.cooperateinfoListShow)
        {
            <td style="width:330px;">
                <dl>
                    <dt>
                        <img src="~/image/contact_06.png" />
                    </dt>
                    <dd>
                        <span>@cooperateitem.Name</span><br />
                        <span>@cooperateitem.Content</span><br />
                        
                    </dd>
                </dl>
            </td>
        }

    </tr>
</table>

<table class="table" id="joinproduce" border="0" style="margin-top:0px;">
    <tr style="text-align:center;height:80px;">
        <td colspan="2">
            <h3>______ 招聘信息 ______</h3>
            <span>JOIN US</span>
        </td>
    </tr>
    <tr style="text-align:center;height:10px;">
        <td colspan="2"></td>
    </tr>
        <tr>
            <td rowspan="3" style="width:50%;">
                <img style="width:400px;height:200px;" src="@ViewBag.recruitimage.Image" />
            </td>
        </tr>
        <tr>
            <td style="text-align:center;width:50%;">
                <h4>@ViewBag.recruitimage.Name</h4>
                <p style="padding:10px;line-height:30px;">@ViewBag.recruitimage.Content</p>
                <a href="/Contact/JoinUs" id="joinlink">查看详情</a>
            </td>
        </tr>

</table>







