@model _21Education.MODEL.ContactRecruitInfo
@{
    ViewBag.Title = "创建招聘信息";
    Layout = "~/Areas/Admin/Views/Shared/_Index_LayoutEdit.cshtml";
}

<style>
    #Content {
        display: none;
    }

    #Name{
        height: 32px;
        width: 90%;
    }
    #table tr{
       height:60px;
    }
</style>

<script src="~/Areas/Content/wangEditor.min.js"></script>

<script type="text/javascript">
    $(function () {
    var E = window.wangEditor
    var editor = new E('#div1')
    var $text1 = $('#Content')
    editor.customConfig.onchange = function (html) {
        // 监控变化，同步更新到 textarea
        $text1.val(html)
    }
    editor.customConfig.uploadImgServer = '/Admin/Common/UploadIn';  // 上传图片到服务器

    editor.create()
    // 初始化 textarea 的值
    $text1.val(editor.txt.html());
    })
</script>

<script type="text/javascript">
    $(function () {
        $("#btnSave").click(function () {

                $.ajax({
                    url: "@Url.Action("Create")",
                    type: "Post",
                    data: $("#CreateForm").serialize(),
                    dataType: "json",
                    success: function (data) {
                        if (data == 1) {
                            window.parent.frameReturnByMes("成功");
                            window.parent.frameReturnByReload(true);
                            window.parent.frameReturnByClose()
                        }
                        else {
                            window.parent.frameReturnByMes("失败");
                        }
                    }
                });
        });
    });
</script>


<div class="mvctool bgb">
    <a id="btnSave" style="float: left;" class="l-btn l-btn-plain"><span class="l-btn-left"><span class="l-btn-text icon-save" style="padding-left: 20px;">保存</span></span></a>
</div>
@using (Html.BeginForm("Create", "JoinUs", null, FormMethod.Post, new { Id = "CreateForm" }))
{
    @Html.ValidationSummary(true)
    <table id="table" class="fromEditTable setTextWidth300">
        <tbody>
            <tr>
                <td style="text-align:center;width:100px;">
                    @Html.LabelFor(model => model.Image)：
                </td>
                <td>
                    @Html.EditorFor(model => model.Image)
                </td>
            </tr>
            <tr>
                <td style="text-align:center;width:100px;">
                    @Html.LabelFor(model => model.Name)：
                </td>
                <td>
                    @Html.EditorFor(model => model.Name)
                </td>
            </tr>
            <tr>
                <td style="text-align:center;width:100px;">
                    @Html.LabelFor(model => model.Content)：
                </td>
                <td>
                    <div id="div1"></div>
                    @Html.TextAreaFor(model => model.Content)
                </td>
            </tr>
        </tbody>
    </table>
}
